COMPOSE_PROJECT_NAME=vr-geonusa

API_HOST_PORT=8000
ML_HOST_PORT=8001

POSTGRES_DB=vr_geonusa
POSTGRES_USER=vr_geonusa
POSTGRES_PASSWORD=replace-with-local-password
POSTGRES_HOST_PORT=5432

REDIS_HOST_PORT=6379

MINIO_ROOT_USER=replace-with-local-user
MINIO_ROOT_PASSWORD=replace-with-local-password
MINIO_API_HOST_PORT=9000
MINIO_CONSOLE_HOST_PORT=9001

